*~
*.iml
*.log
*.sw?
*.swp
*jar
.DS_Store
.idea
.lein*
.nrepl*
.nrepl-port
.repl
checkouts
classes
compiled
figwheel_server.log
node_modules
out
pom.xml.asc
resources/private/js
resources/public/js
target
.cpcache
.shadow-cljs
package-lock.json
