{:paths   ["src/main" "src/dev"]

 :deps    {garden/garden {:mvn/version "1.3.9"}}

 :aliases {:provided  {:extra-deps {org.clojure/clojure       {:mvn/version "1.10.2" :scope "provided"}
                                    org.clojure/clojurescript {:mvn/version "1.10.773" :scope "provided"}
                                    com.fulcrologic/fulcro    {:mvn/version "3.4.17" :scope "provided"}
                                    edn-query-language/eql    {:mvn/version "1.0.1" :scope "provided"}}}
           :clj-tests {:extra-paths ["src/test"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.732"}}}

           :test      {:extra-paths ["src/test"]
                       :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.0.0"}
                                     thheller/shadow-cljs        {:mvn/version "2.11.18"}
                                     fulcrologic/fulcro-spec     {:mvn/version "3.1.10"}}}}}
